# Dependencies
node_modules/

# Build output
.next/
out/
.next-cache/

# Local env files
.env*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor
.vscode/
.idea/.DS_Store

# Misc
.vercel/
**/*.local